#single-post {
    background-color: #e6eafc;
    text-align: center;
    width: 90%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#single-post img {
    width: 80%;
    border: 1px solid black;
}

#single-post h2 {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#back-button {
    text-align: left;
    padding-left: 1.5rem;
    margin-bottom: -1rem;
    font-size: 2rem;
}

#back-button a:hover {
    color: #5CD6BE;
}

#single-post h3 {
    position: relative;
    width: 25%;
    border-radius: 10px;
    margin: 0 auto;
    background-color: black;
    color: #5CD6BE;
}

.individual-comment {
    margin: 0.25rem auto;
    text-align: center;
    border-radius: 10px;
    width: 70%;
    padding-left: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: #ADBAEB;
}

.individual-comment h4 {
    background-color: black;
    color: #5CD6BE;
}