#post {
    background-color: #e6eafc;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    padding: 1rem;
    width: 400px;
    text-align: center;
    margin: 1rem auto;
    scale: 1;
    transition: 0.4s ease-out;
}

#post:hover {
    scale: 0.99;
    box-shadow: 1px 1px 1px gray;
}

#post a {
    color: darkblue;
}

#post a:hover {
    color: #5CD6BE;
}

#post-author {
    font-size: 0.8rem;
}

#post-upvotes, #post-comments {
    background-color: #ADBAEB;
    padding: 0 0.6rem;
    border-radius: 8px;
}

#back {
    position: absolute;
    text-align: left;
    margin-left: 2rem;
}

#post-footer {
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

#post img {
    width: 80%;
    border: 1px solid black;
}

#iframe-container {
    position: relative;
    margin: 0 auto;
    background-color: blue;
    width: 300px;
    height: 200px;
}