a {
    text-decoration: none;
}

#post img {
    width: 80%;
    border: 1px solid black;
}

#post-footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#iframe-container {
    position: relative;
    margin: 0 auto;
    background-color: blue;
    width: 400px;
    height: 250px;
}