.post-list {
    display: initial;
    position: relative;
    background-color: white;
    width: 75%;
    left: 2rem;
}


.subreddit {
    position: relative;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #5CD6BE;
    font-size: 2rem;
    background-color: black;
    border-radius: 8px;
}

.posts-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 850px) {
    .post-list {
        width: 90%;
        left: 0rem;
        margin: 0 auto;
    }

    .subreddit {
        width: 90%;
    }
}
