#loading {
    text-align: center;
}

#loading-container {
    position: relative;
    margin: 0 auto;
    height: 300px;
    background: url('../../images/staff.png') center/40% no-repeat;
    text-align: center;
}

#loading-container img {
    position: relative;
    top: 90px;
    width: 70px;
    animation: move 4s infinite;
    animation-timing-function: linear;
}

@keyframes move {
    0% { top: 90px; left: 0px; }
    20% { top: 60px; left: 20px; }
    40% { top: 70px; left: 40px; }
    60% { top: 30px; left: 60px; }
    80% { top: 110px; left: 30px; }
    100% { top: 90px; left: 0px; }
}
