#sidebar {
    position: fixed;
    right: 1.5rem;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 15%;
    height: 60%;
    padding: 1rem;
    background-color: #c5ceee;
}

#sidebar li {
    background-color: #ADBAEB;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    list-style: none;
}

#sidebar li:hover {
    background-color: #5CD6BE;
    cursor: pointer;
}

#sidebar .selected {
    background-color: #68D65C;
}